<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="register.asp" />
                <add value="home.asp" />
                <add value="statistic.asp" />
                <add value="bill.asp" />
                <add value="loginManager.asp" />
                <add value="upload.html" />
                <add value="bill_detail.asp" />
                <add value="addHistoryCart.asp" />
                <add value="chang_pass.asp" />
                <add value="searchProduct.asp" />
                <add value="user.asp" />
                <add value="deletesp.asp" />
                <add value="deletenv.asp" />
                <add value="QLSP.asp" />
                <add value="QLNS.asp" />
                <add value="addeditnv.asp" />
                <add value="addeditsp.asp" />
                <add value="pay.asp" />
                <add value="detailProduct.asp" />
                <add value="removecart.asp" />
                <add value="addCart.asp" />
                <add value="shoppingcart.asp" />
                <add value="footer.asp" />
                <add value="connect.asp" />
                <add value="login.asp" />
                <add value="logout.asp" />
                <add value="header.asp" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
